<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.marshalcn.dao.SysPermissionDao">

    <select id="queryByUserId" resultType="com.github.marshalcn.entity.SysPermissionEntity">
        SELECT p.id, p.code, p.name
        FROM sys_permission p
            INNER JOIN sys_role_permission_relation rp ON p.id = rp.permission_id
            INNER JOIN sys_user_role_relation ur ON ur.role_id = rp.role_id
        WHERE ur.user_id = #{userId}
    </select>
</mapper>